@model EjercicioMandalorianASP.Models.ENT.ClsMision
@{
    ViewBag.Title = "Detalles de la Misión";
}
<h3><strong>@Model.Titulo</strong></h3>
<p>@Model.Descripcion</p>
<p><strong>Recompensa:</strong> @Model.Recompensa créditos</p>

@if (@Model.Id == 1)
{
    <img src="~/Imgs/grogu.png" alt="grogu" />
}
@if (@Model.Id == 2)
{
    <img src="~/Imgs/bobafet.png" alt="bobafet" />
}
@if (@Model.Id == 3)
{
    <img src="~/Imgs/sorogon.jpg" alt="grogu" />
}
@if (@Model.Id == 4)
{
    <img src="~/Imgs/tatooine.jpg" alt="grogu" />
}